@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1024px) {
  .banner {
    min-height: 507px;
  }

  .banner2 {
    min-height: 121px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .content__post,
  .sidebar {
    width: 90%;
    margin: auto;
  }

  .sidebar {
    margin-top: 50px;
  }

  .related-post-item-text {
    justify-content: flex-start;
    row-gap: 12px;
  }

  .banner .banner-text h1 {
    font-size: 3em;
  }

  .banner .banner-text h2 {
    width: 66%;
    font-size: 1.2em;
  }

  #header .logo {
    margin-left: 15px;
  }

  .menu li a {
    font-size: 1em;
  }

  .h3-heading {
    font-size: 2.2em;
  }

  #brief .brief-content-heading h4 {
    font-size: 2.2em;
  }

  #brief .brief-content-heading p,
  #brief .brief-content-description1 p,
  #brief .brief-content-description2 p {
    font-size: 1.1em;
  }

  #brief .brief-content-description1 h4,
  #brief .brief-content-description2 h4 {
    font-size: 1.2em;
  }

  #gallery .main-carousel {
    height: 180px;
    min-height: 180px;
  }

  #blog .blog-top-part {
    width: 60%;
    height: 40px;
    margin-bottom: 3em;
  }

  #blog .blog-top-part-item img {
    width: 80%;
  }

  #blog .box-grid p {
    font-size: 1em;
  }

  .get-started {
    min-height: 265px;
  }

  .get-started h4 {
    font-size: 1.2em;
  }

  .get-started h3 {
    font-size: 2.4em;
  }

  .get-started .get-started-btn {
    padding: 10px 21px;
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .banner {
    min-height: 370px;
  }

  .banner2 {
    min-height: 100px;
  }

  .banner .container {
    width: 90%;
  }

  .banner .banner-text h1 {
    font-size: 2.5em;
  }

  .banner .banner-text h2 {
    width: 75%;
    font-size: 1.1em;
  }

  .menu li a {
    padding: 0.5em 0.5em 0em 0.5em;
  }

  .h3-heading {
    font-size: 2em;
  }

  .p {
    font-size: 1em;
  }

  #brief .brief-content-heading h4 {
    font-size: 1.7em;
    margin-bottom: 0.5em;
  }

  #brief .brief-content-heading p,
  #brief .brief-content-description1 p,
  #brief .brief-content-description2 p {
    font-size: 1em;
  }

  #brief .brief-content-description1,
  #brief .brief-content-description2 {
    padding: 0px 0px 22px 50px;
  }

  #brief .brief-content-description2 {
    margin: 0;
  }

  #brief .brief-content-description1 h4,
  #brief .brief-content-description2 h4 {
    font-size: 1.1em;
    margin-bottom: 4px;
  }

  .item-content li {
    font-size: 13px;
    padding: 8px 0;
  }

  .pricing-item:nth-child(1),
  .pricing-item:nth-child(2) {
    margin-bottom: 1.5em;
  }

  #gallery .main-carousel {
    height: 156px;
    min-height: 129px;
  }

  #blog {
    padding: 12% 0 3% 0;
  }

  #blog .box-grid p {
    overflow: hidden;
    height: 85px;
  }

  .get-started h4 {
    font-size: 1em;
  }

  .get-started h3 {
    font-size: 2.2em;
  }

  .get-started {
    min-height: 203px;
  }

  .get-started .get-started-btn {
    padding: 9px 21px;
    font-size: 0.9em;
  }

  #contact .contact-form-group {
    margin-top: 3em;
  }

  #contact .contact-form-group textarea,
  #contact .contact-form-group input[type="text"] {
    font-size: 0.9em;
    padding: 0.7em;
  }

  #contact .contact-form-group input[type="submit"] {
    font-size: 1em;
    padding: 0.6em 2.5em;
    margin-bottom: 2em;
  }

  #contact .contact-form-group textarea {
    height: 140px;
  }
}

@media (max-width: 640px) {
  .banner {
    min-height: 330px;
  }

  .banner2 {
    min-height: 82px;
  }

  .banner .banner-text h1 {
    font-size: 2.1em;
  }

  .banner .banner-text h2 {
    width: 79%;
    font-size: 1em;
  }

  #header {
    padding: 1em 0 0em 0;
  }

  #header .nav {
    display: none;
  }

  #header .logo img {
    width: 70%;
  }

  #hamburger-icon {
    display: block;
  }

  .open .mobile-menu,
  .mobile-menu {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    background: rgba(0, 207, 255, 0.96);
    z-index: 999;
    overflow: hidden;
  }

  .mobile-menu {
    height: 0;
  }

  .open .mobile-menu {
    height: 266px;
  }

  .open .mobile-menu a,
  .mobile-menu a {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 10px;
    font-weight: 600;
  }

  .open .mobile-menu a:hover {
    color: #000;
  }

  .h3-heading {
    font-size: 1.8em;
  }

  .p {
    font-size: 0.9em;
  }

  #brief {
    padding: 5% 0 3% 0;
  }

  #brief .brief-content-heading h4 {
    font-size: 1.375em;
  }

  #brief .brief-content-heading p,
  #brief .brief-content-description1 p,
  #brief .brief-content-description2 p {
    font-size: 0.9em;
    width: 98%;
  }

  #brief .brief-content-description1 h4,
  #brief .brief-content-description2 h4 {
    font-size: 1em;
  }

  #gallery .carousel-cell {
    width: 50%;
  }

  /* Single */
  .comment__item-avt {
    height: 100%;
    width: 55px;
  }

  .content__add-comment {
    display: flex;
    flex-direction: column;
  }

  .content__add-comment-input {
    width: 100%;
  }

  .content__post,
  .sidebar {
    width: 100%;
  }

  .content__add-comment-input-list {
    flex-direction: column;
    row-gap: 20px;
  }

  .content__add-comment-input+.content__add-comment-input {
    margin-left: 0;
  }

  .content__add-comment-submit {
    align-self: center;
    width: 50%;
    padding: 12px 0;
    font-size: 16px;
  }
}

@media (max-width: 430px) {
  .main-carousel .flickity-page-dots {
    bottom: 0;
  }
}

@media (max-width: 480px) {
  .banner {
    min-height: 223px;
  }

  .banner2 {
    min-height: 78px;
  }

  .banner .banner-text h1 {
    font-size: 1.6em;
    margin-top: 10px;
  }

  .banner .banner-text h2 {
    width: 100%;
    line-height: 1.3em;
    font-size: 0.875em;
  }

  #header {
    padding: 1.3em 0 0 0;
  }

  .h3-heading {
    font-size: 1.5em;
  }

  #brief .brief-main-content {
    width: 100%;
    padding: 0;
  }

  #brief h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
  }

  #brief .brief-content-heading {
    margin-top: 1.3em;
  }

  #brief .brief-content-heading h4 {
    font-size: 1.5em;
  }

  .tour-item p {
    height: 116px;
    overflow: hidden;
  }

  .pricing-item .item-heading h4 {
    font-size: 1.3em;
  }

  .item-content li {
    font-size: 12px;
  }

  #gallery .main-carousel {
    height: 144px;
  }

  #blog {
    padding: 16% 0 3% 0;
  }

  #blog .blog-top-part {
    width: 30%;
    margin-bottom: 3em;
  }

  #blog .blog-top-part-item {
    width: 100%;
  }

  #blog .blog-top-part-item img {
    width: 100%;
  }

  #blog .blog-item {
    width: 50%;
  }

  #blog .blog-item:nth-child(3) {
    display: none;
  }

  .get-started {
    min-height: 162px;
  }

  .get-started h3 {
    font-size: 1.4em;
  }

  .get-started h4 {
    font-size: 0.85em;
  }

  .get-started .get-started-btn {
    padding: 7px 19px;
    font-size: 0.85em;
  }

  #contact .contact-form-group {
    margin-top: 2em;
  }

  #contact .form-list-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  #contact .contact-form-group input[type="submit"] {
    margin: 0 auto 2em auto;
  }

  /*Single*/
  .comment__item-text {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .h3-heading {
    font-size: 1.4em;
    margin-bottom: 15px;
  }

  #header {
    padding: 2.5em 0 0;
  }

  #header .logo img {
    width: 50%;
  }

  #header .logo {
    margin-left: 0;
  }

  .banner {
    min-height: 210px;
  }

  .banner2 {
    min-height: 102px;
  }

  .banner .banner-text h1 {
    font-size: 1em;
    line-height: 1.5em;
  }

  .banner .banner-text h2 {
    margin-bottom: 2em;
    width: 100%;
    font-size: 0.9em;
    line-height: 1.2em;
    opacity: 0.9;
  }

  .banner-text {
    margin-top: 10%;
  }

  #brief .brief-content-heading h4 {
    font-size: 1.4em;
  }

  .tour-item {
    width: 100%;
  }

  .tour-item p {
    width: 100%;
  }

  .pricing-item {
    width: 100%;
    padding: 0;
  }

  #gallery .main-carousel {
    height: 94px;
    min-height: 94px;
  }

  .main-carousel .flickity-page-dots {
    bottom: -15px;
  }

  #blog {
    margin: 20% 0 3% 0;
  }

  #blog .blog-item {
    width: 100%;
    margin-bottom: 3em;
  }

  .get-started h3 {
    font-size: 1.2em;
  }

  .get-started .get-started-btn {
    padding: 5px 14px;
    font-size: 0.8em;
  }
}