:root{
    --text-color: #333;
    --primary-color: #00CFFF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-family: "Source Sans Pro", Tahoma, Helvetica, sans-serif;
    /* font-size: 10px; */
}
body {
    font-size: 14px;
}
ul {
    list-style-type: none;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}
.fade-in-left{
    animation: fadeInLeft 0.6s linear 0.5s both;
}
.fade-in-right{
    animation: fadeInRight 0.6s linear 0.5s both;
}
.fade-in-up{
    animation: fadeInUp 0.6s linear 0.5s both;
}
.fade-in-down{
    animation: fadeInDown 0.6s linear 0.5s both;
}
.bounce-in{
    animation: bounceIn 1s linear 0.5s both;
}
.bounce-in-up{
    animation: bounceInUp 1s linear 0.5s both;
}
.bounce-in-right{
    animation: bounceInRight 1s 0.5s both;
}
.bounce-in-left{
    animation: bounceInLeft 1s 0.5s both;
}
.slide-down {
    animation: slideDown .8s ease;
}
.slide-up {
    animation: slideUp .8s ease both;
}

.h3-heading {
    color: #66a8f3;
    font-size: 3.5em;
    text-align: center;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
}
.h4-heading {
    color: #393939;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: 700;
}
.p {
    color: #8e8e8e;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
}
.col-half{
    width: 50%;
    float: left;
    padding: 0 15px;
}

.banner {
    display: flex;
    min-height: 720px;
    background: url('../img/banner.jpg') no-repeat 0px 0px;
    background-size:cover ;
    background-position: 50%;
}

.banner2 {
    min-height: 100px;
    height: 150px;
    background-size: cover;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
#header {
    padding: 2.5em 0 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
#header .logo {
    animation: fadeInLeft 0.6s linear 0.5s both;
    width: 25px;
    height: 2px;
}

div .MoreSection {
    color: #d71212;
    font-family: 'Raleway', sans-serif;
    font-size: 2.3em;
    margin-bottom: 0.5em;
    font-weight: 700;
align-items: center;
text-align: center;
}
.LogoJD{
   
    width: 300px;
    height: auto;
}


#header .nav {
    padding-top: 1.2em;
}
.nav > .menu > li{
    display: inline-block;
    text-transform: uppercase;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 1em 1em 0em 1em;
    display: block;
    -webkit-transition: 0.5s all;
}

.menu li:hover a {
    color:#0199e6;
    -webkit-transition: 0.5s all;
}

#hamburger-icon {
    margin: auto 0;
    cursor: pointer;
    display: none;
}

#hamburger-icon div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
}

.banner .banner-text {
    margin-top: 10%;
    margin-bottom: 15px;
    animation: fadeInUp 0.6s linear 0.5s both;
}

.banner .banner-text h1, .banner .banner-text h2 {
    color: #fff;
    text-align: center;
}

.banner .banner-text h1 {
    font-size: 3.2em;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin: 1em 0 0.5em;
}

.banner .banner-text h2 {
    font-size: 1.4em;
    line-height: 1.5em;
    font-weight: 300;
    width: 60%;
    margin: 0 auto;
    opacity: 80%;
}

.banner-text h1 span {
    color: #00CFFF;
    font-weight: 700;
    text-transform: uppercase;
}

#brief {
    padding: 4% 0 3% 0;
}

#brief h3 {
    color: #393939;
    font-size: 2.5em;
    text-align: center;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}

#brief h3::after {
    content: "";
    display: block;
    width: 2.2em;
    margin: 0 auto;
    padding-top: 0.5em;
    border-bottom: 1px solid #1f568b;
}

#brief .brief-main-list {
    display: flex;
    flex-flow: row wrap;
}

#brief .brief-main-content {
    visibility: hidden;
    width: 50%;
    padding: 0 15px;
}
.brief-main-content2 {
    color: #000;
    width: 100%;
    padding: 0 15px;
}


#brief .brief-main-content img {
    width: 100%;
}
#brief .brief-content-heading {
    margin-top: 2em;
}

.brief-content-heading h4 {
    color: #393939;
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    background: url(/assets/img/line.png) no-repeat 0px 100%;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    font-weight: 500;
}

.brief-content-heading p,
.brief-content-description1 p,
.brief-content-description2 p {
    color: #8e8e8e;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 91%;
}

.brief-content-description1 p,
.brief-content-description2 p {
    color: #8e8e8e;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.5em;
    width: 91%;
}



.brief-content-description1{
    background: url(../img/f1.png) no-repeat 0px 0px;
    padding: 0px 0 22px 60px;
    margin: 2em 0 0.5em 0;
}

.image-container {
    position: relative;
    display: inline-block;
  }

  .image-container img {
    display: block;
  }

  .image-title , .image-title2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

.brief-content-description1 h4,
.brief-content-description2 h4{
    color: #393939;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.brief-content-description3 h4,
.brief-content-description4 h4{
    color: #393939;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    font-weight: 700;
}

.brief-content-description2{
    background: url(../img/f2.png) no-repeat 0px 0px;
    padding: 0px 0 22px 60px;
    margin: 2em 0 0.5em 0;
}

#brief .good {
    background: url(../img/f3.png) no-repeat 0px 0px;
}

#brief .video-bac {
    background: url(../img/f4.png) no-repeat 0px 0px;
}

#tour {
    padding: 3% 0;
}

#tour .container > h3::after {
    content: "";
    display: block;
    width: 2.2em;
    margin: 0 auto;
    padding-top: 0.5em;
    border-bottom: 1px solid #1f568b;
}

.tour-list {
    margin-top: 2em;
    display: flex;
    flex-flow: row wrap;
}

.tour-item {
    width: 50%;
    padding: 0 15px;
    margin-bottom: 2em;
}

.tour-item i {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url('../img/feature.png') no-repeat 0px 0px;
}

.tour-item i.f1 {
    background-position:  -9px -19px;
}

.tour-item i.f2 {
    background-position: -88px -16px;
}

.tour-item i.f3 {
    background-position: -166px -19px;
}

.tour-item i.f4 {
    background-position: -249px -19px;
}

.tour-item p {
    width: 75%;
    margin: 0 auto;
}

#pricing {
    padding: 4% 0;
}

#pricing h3::after {
    content: "";
    display: block;
    width: 2.2em;
    margin: 0 auto;
    padding-top: 0.5em;
    border-bottom: 1px solid #1f568b;
}

.pricing-list {
    display: flex;
    flex-flow: row wrap;
    margin: 5% 0 3% 0;
}

.pricing-item {
    visibility: hidden;
    width: 33.33333333%;
    transition: 0.5s all;
    padding: 0 15px;
}
.item-heading {
    border: 1px solid #323232;
    background: #323232;
    padding: 1.5em 0;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    -webkit-transition: 0.5s all;
}

.pricing-item:hover .item-heading,
.pricing-item:hover .buy-btn {
    background: #0199e6;
    color: #fff;
}

.pricing-item:hover .item-heading span.hilight {
    color: #fff;
}

.item-heading h4 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 7px;
    font-weight: 500;
}

.item-heading p {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

.item-heading span.hilight {
    color: #0492da;
    font-weight: 600;
    font-size: 1.3em;
}

.item-content {
    border: 1px solid #eee;
}

.item-content li.whyt {
    background: #f4f4f4;
    border-bottom: 1px dotted;
    border-top: 1px dotted;
}

.item-content li {
    color: #C7C4C4;
    font-size: 15px;
    text-align: center;
    padding: 16px 0;
    font-weight: 400;
}

.buy-btn {
    display: inline-block;
    margin: 0.5em 0;
    padding: 12px 1.5em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
    color: #727272;
    text-decoration: none;
    -webkit-transition: 0.5s all;

}

#gallery {
    padding: 3% 0 3% 0;
    position: relative;
}

#gallery .container {
    width: 84%;
    padding: 0 0;
}

#gallery h3::after {
    content: "";
    display: block;
    width: 2.2em;
    margin: 0 auto;
    padding-top: 0.5em;
    border-bottom: 1px solid #1f568b;
}

#gallery .main-carousel {
    height: 211px;
    min-height: 284px;
}

.carousel-cell {
    width: 33.3333%;
    height: 100%;
    padding: 0 2px;
}

.main-carousel .flickity-page-dots {
    bottom: -30px;
}
.main-carousel .flickity-page-dots .dot {
  width: 13px;
  height: 13px;
  border: 1px solid #94cae6;
  background: #94cae6;
  opacity: 0.7;
}

.main-carousel .flickity-page-dots .dot:hover {
  border: 1px solid #0199e6;
  background: #0199e6;
  opacity: 1;
}

.main-carousel .flickity-page-dots .dot.is-selected {
  background: #0199e6;
  border: 1px solid #0199e6;
}

.carousel-cell img {
    width: 100%;
}

#blog {
    padding: 10% 0 3% 0;
}

#blog h3::after {
    content: "";
    display: block;
    width: 2.2em;
    margin: 0 auto;
    padding-top: 0.5em;
    border-bottom: 1px solid #1f568b;
}

.blog-top-part {
    width: 60%;
    height: 40px;
    margin: 4em auto 0 auto;
}

.blog-top-part-item {
    height: 100%;
    width: 25%;
}

#blog .blog-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6%;
}

#blog .blog-item {
    visibility: hidden;
    width: 33.3333%;
    padding: 0 15px;
}

#blog .box-grid {
    position: relative;
    background: #f7f8fa;
    padding: 2em;
    border-radius: 5px;
    border-bottom: 2px solid #d1d1d1;
}

#blog .box-grid p {
    color: #8e8e8e;
    text-align: center;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.5em;
}

#blog .box-grid span {
    background: url(../img/box.png) no-repeat 0px 0px;
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: -25px;
    left: 43%;
}

#blog .box-grid label {
    position: absolute;
    background: url(../img/dwn.png) no-repeat 0px 0px;
    display: block;
    width: 32px;
    height: 21px;
    bottom: -20px;
    left: 46%;
}

#blog .blog-item h4 {
    font-size: 1.2em;
    text-align: center;
    margin: 2em 0 0.5em 0;
    font-weight: 600;
    color: #0199e6;
}

p.ceo {
    color: #bdbdbd;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

.get-started {
    background: url(../img/get.jpg) no-repeat 0px 0px;
    padding: 8% 0;
    color: #fff;
    text-align: center;
    background-size: cover;
    min-height: 400px;
}

.get-started h4 {
    visibility: hidden;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1em;
    font-weight: 600;
}

.get-started h3 {
    visibility: hidden;
    font-size: 2.8em;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 1em;
    font-weight: 600;
}

.get-started .get-started-btn {
    visibility: hidden;
    color: #fff;
    padding: 12px 18px;
    border: 1px solid #0199e6;
    background: #0199e6;
    font-size: 1.2em;
    font-weight: 600;
    border-radius: 3px;
    text-decoration: none;
    -webkit-transition: 0.5s all;
}

.get-started .get-started-btn:hover {
    background-color: rgba(0, 0, 0, 0);
}

#contact {
    padding: 4% 0 5% 0;
}

#contact h3::after {
    content: "";
    display: block;
    width: 2.2em;
    margin: 0 auto;
    padding-top: 0.5em;
    border-bottom: 1px solid #1f568b;
}

#contact .contact-form-group {
    margin-top: 6em;
    width: 100%;
    display: flex;
}
#contact .contact-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contact .form-list-item {
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

#contact .contact-form-group input[type="text"] {
    border: 1px solid #d8d8d8;
    border-radius: 0.3em;
    margin-bottom: 1.5em;
    width: 100%;
    font-size: 18px;
    color: #5b5b5b;
    font-weight: 500;
    font-family: opensans;
    padding: 12px 15px;
}

#contact .contact-form-group textarea {
    border: 1px solid #d8d8d8;
    border-radius: 0.3em;
    margin-bottom: 1.5em;
    width: 100%;;
    height: 193px;
    font-size: 18px;
    color: #5b5b5b;
    font-weight: 500;
    font-family: opensans;
    resize: none;
    padding: 12px 15px;
}

#contact .contact-form-group textarea:hover, 
#contact .contact-form-group textarea:focus,
#contact .contact-form-group input[type="text"]:hover, 
#contact .contact-form-group input[type="text"]:focus {
    border-color: #008ed6 !important;
    outline: none;
}

#contact .contact-form-group input[type="submit"] {
    text-decoration: none;
    display: inline-block;
    float: right;
    color: #fff;
    background-color: #0199e6;
    border: 1px solid #0199e6;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
    padding: 0.8em 2.5em;
    -webkit-transition: 0.5s all;
}

#contact .contact-form-group input[type="submit"]:hover {
    color: #0199e6;
    background: transparent;
}

#footer {
    background-color: #050e12;
    padding: 2em 0;
    text-align: center;
}

#footer p {
    color: #7f7f7f;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.5em;
}
#footer p span {
    color: #ca115c;
}
.copyr{
    margin-top: 1em;
}

#toTop {
    background: url(../img/to-top1.png) no-repeat 0px 0px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 4%;
    right: 2%;
}

/* For Single page */

.single-heading{
    color: #16BAE0;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.content{
    display: flex;
    padding: 56px 0 15px;
}
.content__post{
    
    padding: 0 15px;
}
.content__post-img{
    width: 100%;
    margin-bottom: 27px;
}
.content__post-text{
    margin-top: 14px;
    color: var(--text-color);
    font-size: 14px;
    line-height: 1.7em;
}
.content__post-text span{
    display: block;
    margin: 1em 0;   
}
.content__post-socials{
    padding: 1em 0;
}
.content__post-social-link{
    display: inline-block;
    padding: 5px 6px 3px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
}
.content__post-social-link:hover 
{
    background-color: #000;
}
.content__post-social-link i{
    font-size: 22px;
}
.tw-bg{
    background-color: #55acee;
}
.fl-bg{
    background-color: #ff0084;
}
.fb-bg{
    background-color: #3b5998;
}
.content__post-comments{
    margin-top: 40px;
}
.content__post-comments-item{
    display: flex;
    flex-direction: column;
}
.content__post-comments-item + .content__post-comments-item
{
    margin-top: 15px;
}
.content__post-comments-item-wrap{
    display: flex;
}
.comment__item-avt{
    height: 100%;
    border-radius: 5px;
}
.comment__item-personal{
    margin-left: 16px;
}
.comment__item-name{
    color: #16BAE0;
    font-size: 17px;
    font-weight: 400;
}
.comment__item-text{
    font-size: 14px;
    line-height: 1.7em;
    color: var(--text-color);
}
.comment__item-rep{
    text-decoration: none;
    font-size: 15px;
    color: #16BAE0;
    align-self: end;
}
.comment__item-rep:hover{
    color: var(--text-color);
}

/* Right Sidebar */
.sidebar{
    width: 33.33333%;
    padding: 0 15px;
}
.sidebar__newsletter{

}
.sidebar__newsletter-input{
    width: 100%;    
    padding: 12px 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    font-size: 1em;
    color: #000;
    outline: none;
}
.sidebar__newsletter-btn{
    margin: 0.5em 0 2em;
    padding: 8px 0;
    width: 40%;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.5s;
    border-radius: 4px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
}
.sidebar__newsletter-btn:hover{
    background-color: #000;
}
.sidebar__category{

}
.sidebar__category-list,
.sidebar__archieve-list
{
    list-style: url('../img/2.png');
    margin-left: 13px;
}
.sidebar__category-item, 
.sidebar__archieve-item
{
    padding-left: 10px;
    margin: 15px 0;
}
.sidebar__category-item a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0,0,0,0.9);
    transition: 0.5s all;
}
.sidebar__category-item:hover a{
    color: var(--primary-color);
    padding-left: 0.5em;
}
.sidebar__archieve{
    margin: 5em 0 0;
}
.sidebar__archieve-item a{
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: rgba(0,0,0,0.9);
    transition: 0.5s all;
}
.sidebar__archieve-item:hover a{
    color: var(--primary-color);
    padding-left: 0.5em;
}
.sidebar__related-post{
    margin: 5em 0 0;
}
.related-post-item{
    margin: 2.5em 0;
    display: flex;
    text-decoration: none;
}
.related-post-item-img{
    width: 30%;
    height: 30%;
    border-radius: 4px;
}
.related-post-item-text{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.related-post-item-title{
    color: #16BAE0;
    font-weight: 600;
    transition: 0.5s all;
}
.related-post-item-title:hover{
    color: #000;
}
.related-post-item-described{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;;
    color: var(--text-color);
}   

/* Leave your comment */

.content__add-comment{
    padding: 2em 1em 0;
}
.content__add-comment-input-list{
    width: 100%;
    display: flex;
}
.content__add-comment-input{
    flex: 1;
    width: 33.3333%;
    color: #999;
    font-size: 15px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.content__add-comment-input +
.content__add-comment-input{
    margin-left: 20px;
}
.content__add-comment-text-area{
    margin: 20px 0;
    padding: 15px 10px;
    width: 100%;
    resize: none;
    height: 200px;
    font-size: 15px;
    font-family:  sans-serif;
    outline: none;
    border: 1px solid #999;
    border-radius: 4px;
}
.content__add-comment-input:hover,
.content__add-comment-text-area:hover{
    border: 1px solid #16BAE0;
}
.content__add-comment-submit{
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #16BAE0;
    border-radius: 4px;
    font-size: 20px;
    padding: 12px 34px;
    margin-bottom: 24px;
    transition: 0.5s all;
}
.content__add-comment-submit:hover{
    background-color: #fff;
    color: var(--primary-color);
}
